<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="crossBrowserTesting" thread-count="2" parallel="tests">
    <parameter name="browserType" value="chrome"/>
    <test name="chromeTest">
        <classes>
            <class name="ge.tbc.testautomation.ParallelCrossBrowserTest"/>
        </classes>
    </test>
    <parameter name="browserType" value="safari"/>
    <test name="safariTest">
        <classes>
            <class name="ge.tbc.testautomation.ParallelCrossBrowserTest"/>
        </classes>
    </test>
</suite>